# Configuration of DB connection
DATABASE_URL="postgresql://username:password@localhost:5432/mydb?schema=public"
BETTER_AUTH_SECRET= # Make a strong secret
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
PORT=3000 # Port on which your app will run